{% extends 'base.html' %}

{% block page_title %}
	{{ block.super }} {{ category.title }}
{% endblock %}

{% block page_header %}
	{{ category.title }}
{% endblock %}

{% block content %}
  <ul>
  <li>{{ category.title }}</li>
  <li>{{ category.description }}</li>
  </ul>
  {% if products %}
  	<ul>Products
    {% for product in active_products %}
    	<li>
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        {% if product.tags %}
          {% with  product.tags.all as tags %}
            {% for tag in tags %}
              {{ tag.title }}
            {% endfor %}
          {% endwith %}
        {% endif %}
      </li>
    {% endfor %}

    </ul>
  {% endif %}
{% endblock %}